rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /admin/{id} {
      allow read: if true;
      allow write: if false;
    }

    match /inquiries/{id} {
      allow read, write: if true;
    }
  }
}

